.cartContainer {
    margin: 0 auto;
    text-align: center;
}

.dFlex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 800px) {
    .dFlex {
        flex-direction: row;
    }
}

.container {
    margin-top: 40px;
}

.title {
    font-size: 12px;
}

.margin {
    margin-right: 8px;
}

.quantity {
    color: var(--color-tertiary);
    font-size: 18px;
}

.quantityBtn {
    padding: 8px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background: white;
    
}

.quantityBtn:hover {
    color: var(--color-tertiary);
}

.delete {
    color: rgb(194, 65, 65);
}

.heading {
    text-transform: uppercase;
    color: rgb(109, 108, 108);
    font-size: 26px;
}

.formContainer {
    width: 350px;
}

.total {
    margin-bottom: 25px;
    font-size: 20px;
}

.payment {
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    background: var(--color-tertiary);
    color: black;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.payment:hover {
    color: white;
}