html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --color-error: #D63031;
  --color-success: #00B894;
  --color-tertiary: #00B894;
  --color-details: #AAABB8;
  
}

h2 {
  font-size: 50px;
}

h4 {
  font-size: 12px;
  text-transform: uppercase;
}




input[type=text]:focus {
  border: 1px solid var(--color-tertiary);
}

input[type=file]::file-selector-button {
  padding: 8px;
  background-color: var(--color-tertiary);
  color: white;
}

input::placeholder {
  color: var(--color-details);
}

form {
  margin-top: 16px;
}

@media (min-width: 1280px) {
  form {
    width: 450px;
  }
}



label {
  display: block;
  font-weight: 300;
  margin-top: 8px;
}