@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
.nav {
    height: 50px;
    padding: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}


.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 15px;
}

.logo {
    font-family: 'Pattaya', sans-serif;
    color: #2d9b87;
    font-size: 18px;
}

.image {
    border-radius: 100%;
    border: 2px solid black;
    padding: 50px;
}

.dropdown {
    position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropbtn {
    color: var(--color-tertiary);
    padding: 8px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdownContent {
    display: block;
  }

  .active {
      font-size: 20px;
  }

  .notActive {
      font-weight: normal;
  }



